body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.time-display{
    font-size: 4em;
    margin-bottom: 40px;
}

button{
    margin: 10px;
    padding: 20px 40px;
    font-size: 2em;
}
